<% layout('layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center text-light">Edit User</h1>
    <div class="col-6 offset-3">
        <form action="/users/<%=user._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label text-light" for="username">Username</label>
                <input class="form-control bg-dark text-light" type="text" id="username" name="user[username]"
                    value="<%=user.username %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label text-light" for="description">Add or Edit Bio</label>
                <input class="form-control bg-dark text-light" type="text" id="description" name="user[description]"
                    value="<%=user.description %>">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-info">Update User</button>
            </div>
        </form>
    </div>
</div>