<% layout('boilerplate')%>
<h1 class="text-light">Login</h1>
<form action="/login" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label text-light" for="username">Username</label>
        <input class="form-control bg-dark text-light" type="text" id="username" name="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label text-light" for="password">Password</label>
        <input class="form-control bg-dark text-light" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success">Login</button>
</form>